@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("../components/common/Button/button.css");
@import url("../assets/fonts/TT-Hoves-Pro/style.css");
@import url("../assets/fonts/futura-lt-cdnfonts/style.css");

* {
   @apply p-0 m-0 box-border;
}

html {
   @apply scroll-smooth;
}

body {
   @apply font-dm-sans lg:text-xl text-[14px]  text-white font-normal;
}

@layer components {
   a {
      @apply no-underline;
   }

   a:hover {
      @apply underline underline-offset-2;
   }

   input,
   select,
   textarea,
   button {
      @apply focus:outline-none bg-transparent;
   }

   .text-linear {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   [role="button"],
   button {
      @apply select-none;
   }
}
.header-button-blur {
   backdrop-filter: blur(20px);
}

/* 
 Mobile Responsiveness
*/
@media screen and (max-width: 1280px) {
   .text-13xl {
      @apply text-[76px];
   }
   .text-12xl {
      @apply text-[56px];
   }
   .text-10xl {
      @apply text-[44px];
   }
   .text-9xl {
      @apply text-[36px];
   }
   .text-6xl {
      @apply text-[25px];
   }
   .text-4xl {
      @apply text-[22px];
   }
}
@media screen and (max-width: 1020px) {
   .text-13xl {
      @apply text-[62px];
   }
   .text-12xl {
      @apply text-[48px];
   }
   .text-10xl {
      @apply text-[36px];
   }
   .text-9xl {
      @apply text-[34px];
   }
   .text-6xl {
      @apply text-[20px];
   }
   .text-4xl {
      @apply text-[20px];
   }
   .text-2xl {
      @apply text-[14px];
   }
}
@media screen and (max-width: 768px) {
   .text-13xl {
      @apply text-[46px];
   }
   .text-12xl {
      @apply text-[38px];
   }
   .text-10xl {
      @apply text-[28px];
   }
   .text-9xl {
      @apply text-[32px];
   }
   .text-6xl {
      @apply text-[16px];
   }
   .text-4xl {
      @apply text-[18px];
   }
   .text-2xl {
      @apply text-[14px];
   }
}
@media screen and (max-width: 600px) {
   .text-13xl {
      @apply text-[32px];
   }
   .text-12xl {
      @apply text-[30px];
   }
   .text-10xl {
      @apply text-[24px];
   }
   .text-6xl {
      @apply text-[12px];
   }
}
